.container {
    width: 1200px;
    max-width: 90%;
    margin: 0rem auto;
  }
  
  .dropzone {
    width: 100%;
    height: 10rem;
    margin: 2rem 0;
    background: #eee;
    border: 2px dashed #aaa;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-weight: 500;
  }
  
  .images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
    width: 100%;
    grid-gap: 1rem;
  }
  
  .images > img {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .btn button {
    padding: 0.5rem 1rem;
    border: 1px solid #36e436;
    background: #fff;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 700;
    color: #333;
    cursor: pointer;
  }
  
  .btn > p {
    font-style: italic;
  }
  