@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.card:hover .content {
  opacity: 1;
  visibility: visible;
}
*/

@layer base {
  body {
    @apply bg-primary-100;
    @apply text-white;
    @apply overflow-x-hidden;
    @apply bg-gradient-to-tl from-bg-gradient-50 to-transparent bg-no-repeat;
  }
}